## Ejercicio 1

In [20]:
planet = {
    'nombre' : 'Marte',
    'lunas' : 2
}
print(planet['nombre'], planet['lunas']) #da el valor de la clave solicitada

Marte 2

In [21]:
planet['circunferencia (km)']={
    'polar':6752,
    "ecuatorial":6792
}

In [24]:
print(planet.get('nombre'),planet['circunferencia (km)'])

Marte {'polar': 6752, 'ecuatorial': 6792}

In [25]:
print(planet.get('nombre'),planet['circunferencia (km)']['polar'])

Marte 6752

## Ejercicio 2

In [26]:
planet_moons = {
    'mercury': 0,
    'venus': 0,
    'earth': 1,
    'mars': 2,
    'jupiter': 79,
    'saturn': 82,
    'uranus': 27,
    'neptune': 14,
    'pluto': 5,
    'haumea': 2,
    'makemake': 1,
    'eris': 1
}

In [29]:
lunas_totales = 0
for values in planet_moons.values():
    lunas_totales += values
print(lunas_totales)

214

In [31]:
#pormedio de lunas por planeta es
total_planetas = len(planet_moons.keys())
avg_lunas=lunas_totales/total_planetas
print(avg_lunas)

17.833333333333332

## Ejemplos modulo 8

In [6]:
print(planet['nombre']) #igual que get, menos codigo para recuperar elementos

Tierra

In [10]:
#con update modificas actualizas el diccionario como parametro
planet.update({'nombre':'Makemake'})
print(planet['nombre'])
#aqui se hace lo mismo pero con corchetes
planet['nombre']='Tierra'
print(planet['nombre'])

Makemake
Tierra

In [30]:
#usando update
planet.update({
    'nombre':'jupiter',
    'lunas': 79
})
print(planet)
#usando corchetes
planet['nombre'] = 'Jupiter'
planet['lunas'] = 79
print(planet)

{'nombre': 'jupiter', 'lunas': 79, 'diametro (km)': {'polar': 133709, 'ecuatorial': 142984}}
{'nombre': 'Jupiter', 'lunas': 79, 'diametro (km)': {'polar': 133709, 'ecuatorial': 142984}}

In [31]:
#anadir claves sin definirlas antes
planet['Periodo orbital'] = 4333
print(planet)

{'nombre': 'Jupiter', 'lunas': 79, 'diametro (km)': {'polar': 133709, 'ecuatorial': 142984}, 'Periodo orbital': 4333}

In [32]:
planet.pop('Periodo orbital')
print(planet['nombre'])

Jupiter

In [47]:
#anadiendo un nuevo diccionario 
planet['diametro (km)'] = {
    'polar':133709,
    'ecuatorial':142984
}

print(planet['nombre'],': Diametro polar igual a ' ,planet['diametro (km)']['polar'])

# Salida: Jupiter polar diameter: 133709

Jupiter : Diametro polar igual a  133709

In [59]:
#el metodo keys() devuelve las claves
rainfall = {
    'octubre':3.5,
    'noviembre':4.2,
    'diciembre':2.1
}
for key in rainfall.keys():
    print(f'{key}:{rainfall[key]}cm')

octubre:3.5cm
noviembre:4.2cm
diciembre:2.1cm

In [60]:
if 'diciembre' in rainfall:
    rainfall['diciembre'] = rainfall['diciembre']+1
else:
    rainfall['diciembre']=1
print(rainfall)

{'octubre': 3.5, 'noviembre': 4.2, 'diciembre': 3.1}

In [62]:
#recuperar valores de un diccionario
total_rainfall = 0

for values in rainfall.values():
    total_rainfall = total_rainfall + values

print(f'Hubo en total {total_rainfall} cm ene l ultimo cuarto')

Hubo en total 10.8 cm ene l ultimo cuaarto